<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./Tests/bootstrap.php" colors="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="SgDatatables Test Suite 1.0">
      <directory suffix="Test.php">./Tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>./</directory>
    </include>
    <exclude>
      <directory>./Resources</directory>
      <directory>./Tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </source>
</phpunit>
